{% extends 'berita.html' %}
{% load static %}
{% load custom_filters %}
{% block landing_css %}
<style>
    ul li{
        margin: 0 0.2rem;
        display: inline-block;
        list-style: none;
    }
    .btn-info.disabled{
        cursor: auto;
    }
    #comment-container{
        display:none;
    }
    #comment-container ul{
        padding-left: 1rem;
        list-style: none;
    }
    form textarea{
        display: block;
        width: 90%;
        max-width:
    }
    #my-textarea{
        width:90%;
        max-width: 900px;
        height: 200px;
    }
    .card p{
        margin-bottom:0.1rem;
    }
</style>
{% endblock %}
{% block article %}
<div id="content" class="col-md-9" style="width:100%; height:100%">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="text-muted" id="left-content-navbar">
                By {{ author }}
            </div>
            <div class="text-muted" id="right-content-navbar">
                {{ date }}
            </div>

        </div>
        <div class="card-body">
            {{ text|linebreaks }}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div id="comment">
                <button class="btn btn-primary btn-sm">
                    Comment <i class="fas fa-caret-down"></i>
                </button>
            </div>
            <ul>
                <li><button type="button" class="btn 
                    {% if user.is_authenticated %}
                        {% if liked %}
                        btn-danger
                        {% else %}
                        btn-outline-danger
                        {% endif %}
                    {% else %}
                    btn-outline-danger
                    {% endif %}" id="like-button">
                <i class="fas fa-heart"></i>&nbsp;<span>{{ like_num }}</span></button></li>
                <li>
                    <button type="button" class="btn btn-info text-warning disabled">
                        <i class="fas fa-eye"></i>&nbsp;{{ viewed }}
                    </button>
                </li>

            </ul>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="border border-top-0 border-secondary rounded-bottom bg-info pt-3" id="comment-section" style="width: 100%; display:none;">
       <div id="comment-container">
           <ul id="comment-list" class="d-flex flex-column justify-content-center">
            
           </ul>
       </div>
       <form class="d-flex border border-dark flex-column justify-content-start pt-2" action="{{ full_path }}" action="post">
           {% csrf_token %}
           {{ form.text }}
           <ul class="ml-3 px-0 pt-2 pb-3">
           <li><button type="button" class="btn btn-success">Comment</button></li>
           <li><button type="button" class="btn btn-secondary">Cancel</button></li>
        </ul>
       </form>
    </div>
    {% endif %}
    <div class="modal fade" id="{% if user.is_authenticated %}modal-input-invalid{% else %}modal-login-required{% endif %}" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">
                {% if user.is_authenticated %}
                    Input tidak valid
                {% else %}
                Login required
                {% endif %}</h5>
              <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                Input form kamu tidak valid
                {% else %}
              Kamu harus login terlebih dahulu untuk melakukan hal tersebut
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
              {% if user.is_authenticated %}
              <button class="btn btn-primary" type="button" id="rewrite">Masukkan ulang</button>
              {% else %}
              <a href="/login/?next={{ full_path }}" id='login-modal-button'>
              <button class="btn btn-primary" type="button">Login</button>
            </a>
            {% endif %}
            </div>
          </div>
        </div>
    </div>
    <!--break-->
</div>
{% endblock %}
{% block landing_script %}
<script>
    function createComment(comment, isBlock){
        let parent = document.createElement("LI");
        parent.innerHTML = [
            '<div class=\"card shadow\">',
            '<div class=\"card-header d-flex flex-row justify-content-between pt-2 pb-0 px-3\">',
            '<div class=\"name h5\">',
            comment.author,
            '</div>',
            '<div class=\"date text-muted\">',
            comment.date,
            '</div>',
            '</div>',
            '<div class=\"card-body d-flex flex-column\">',
            '<div class=\"comment\">',
             '<p>'+comment.text+'</p>',
            '</div>',
            '</div>',
            '</div>'
        ].join("\n");
        parent.style.display= isBlock?"block":"none";
        parent.style.width= "90%";
        parent.style.marginBottom= "1rem";
        parent.style.marginTop= "0.1rem%";
        parent.style.maxWidth= "600px";
        return parent;
    }
</script>
<script>
    $(document).ready(function(){
        {% if user.is_authenticated %}
        var isCommentLoaded = false;//komen nya blm di-load
        var anyComment = {{ comment_num|lower}}; //ada komen ato engga
        var isSlideUp = false;
        var isLiked = {{ liked|lower }};


        function commentSlide(){
            if (!isSlideUp){
                $('#comment-section').slideDown('slow');
                $('.card').addClass('rounded-top');
                $('#comment .fas').removeClass('fa-caret-down').addClass('fa-caret-up');
                if (anyComment && !isCommentLoaded)// udah ada yg komen
                {
                    $.ajax({
                        url: '{{ full_path }}',
                        dataType: "json",
                        success: function(xhr){
                            for (var i=0; i<xhr.data.length;i++)
                            {
                                let comment = xhr.data[i];
                                commentObj = createComment(comment, true);
                                document.getElementById("comment-list").appendChild(commentObj);
                            }
                            setTimeout(()=>{$('#comment-container').slideDown('slow');}, 600);
                        }
                    });
                    isCommentLoaded = !isCommentLoaded;
                }
            }
            else{
                $('#comment-section').slideUp('slow');
                $('.card').removeClass('rounded-top');
                $('#comment .fas').removeClass('fa-caret-up').addClass('fa-caret-down');
            }
            isSlideUp = !isSlideUp;

        }
        function secondaryButton(){
            $('#my-textarea').val('');
            $('#comment-section').slideUp('slow');
            $('.card').removeClass('rounded-top');
            $('#comment .fas').removeClass('fa-caret-up').addClass('fa-caret-down');
            isSlideUp = !isSlideUp;
        }
        $("#comment button").on('click', commentSlide);
        $('#like-button').on('click', function(){
            isLiked = !isLiked;
            if (isLiked)
            {
                $(this).removeClass('btn-outline-danger').addClass('btn-danger');
                let data= parseInt($(this).find('span').text());
                $(this).find('span').text(++data);  
            }
            else{
                $(this).removeClass('btn-danger').addClass('btn-outline-danger');
                let data= parseInt($(this).find('span').text());
                $(this).find('span').text(--data);                
            }
            $.ajax({
                url: '{{ full_path }}',
                method: "POST",
                data: {'liked': isLiked?1:0},
                headers: {'X-CSRFToken':$('[name=csrfmiddlewaretoken]').attr('value')}
            });
        });
        $('#rewrite').on('click', function(){
            $('#modal-input-invalid').modal('hide');
            $('form textarea').focus();
        })
        function submitForm(){
            let text= $('#my-textarea').val();
            $('#my-textarea').val('');
            $('#my-textarea').attr('disabled', '');
            $('form .btn, #comment button').addClass('disabled').off('click');
            if (text=="")
            {
                $('#modal-input-invalid').modal();
                $('form .btn-success').on('click', submitForm);
                $('form .btn-secondary').on('click', secondaryButton);
                $("#comment button").on('click', commentSlide);
                $('#my-textarea').removeAttr('disabled');
                $('form .btn, #comment button').removeClass('disabled');
            }
            else{
            $.ajax({
                url: "{{ full_path }}",
                method: "POST",
                data: {'text': text},
                headers: {'X-CSRFToken':$('[name=csrfmiddlewaretoken]').attr('value')},
                success: function(xhr){
                    if (!isCommentLoaded){//kasus blm ada komen sebelumnya
                        var comment = createComment(xhr, true);
                        document.getElementById("comment-list").appendChild(comment);
                        $('#comment-container').slideDown(600);
                    }
                    else{
                        var comment = createComment(xhr, false);
                        document.getElementById("comment-list").appendChild(comment);
                        $(comment).slideDown('slow');
                    }
                    $('form .btn-success').on('click', submitForm);
                    $('form .btn-secondary').on('click', secondaryButton);
                    $("#comment button").on('click', commentSlide);
                    $('#my-textarea').removeAttr('disabled');
                    $('form .btn, #comment button').removeClass('disabled');
                }
            });}
        }
        $('form .btn-success').on('click', submitForm);
        $('form .btn-secondary').on('click', secondaryButton);

        $('#modal-input-invalid .close-btn').on('click', function()
        {
            $('#modal-input-invalid').modal('hides');
        });
        {% else %}
        $("#comment button").on('click', function(){
            $('#modal-login-required .modal-body').html('Kamu harus login terlebih dahulu untuk komen di artikel ini');
            $('#modal-login-required').modal('show');
            console.log('comment');
        });
        $('#like-button').on('click', function(){
            $('#modal-login-required .modal-body').html('Kamu harus login terlebih dahulu untuk like artikel ini');
            $('#modal-login-required').modal('show');
            console.log('like');
        });
        $('#modal-login-required .close-btn').on('click', ()=>{
            $('#modal-login-required').modal('hide');
        });

        {% endif %}
    });
</script>
{% endblock %}
