{% extends "base_site.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" style="height: 82vh; padding-bottom: 4%; display: flex; align-items: center; justify-content: center;">

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="new_card p-3 py-4">
                    <div class="text-center">
                        <img src="{{user.profile.profile_pic.url}}" width="100" height="100" class="img-profile rounded-circle">
                    </div>
                        <div class="text-center mt-4"> 
                            <div class="province" style="font-size: 13px;">
                                <span class="bg-secondary p-1 px-2 rounded text-white">{{user.profile.province}}</span>
                            </div>
                            <h4 class="mt-3 mb-0">{{user.profile.first_name}} {{user.profile.last_name}}</h4>
                            <span>+62-{{user.profile.number_phone}}</span>
                        <div class="text-center mt-2 mb-2">
                            <p class="bio" style="font-size: 11px;">{{user.profile.bio}}. </p>
                        </div>
                    <div class="buttons"> 
                        <form method="get" action="/setting">
                            <button class="btn px-4" href="/setting">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}