{% extends "base_site.html" %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" style="min-height: 80vh; display: flex; align-items: center; flex-direction: column;">

    <h3>Daftar Rumah Sakit</h3>
    
    <h6 class="m-0 font-weight-bold text-primary">Pilih Provinsi</h6>
    <form>
        <div class="select d-flex flex-column align-items-center">
            <select class="browser-default custom-select" name="format" id="format">
                <option selected disabled>PILIH</option>
            </select>
            <div class="mt-2">
                <input class="btn btn-info btn-icon-split" type="button" onclick="getCity()" value="Cari">
            </div>
        </div>
    </form>

    <h6 class="m-0 font-weight-bold text-primary">Pilih Kota/Kabupaten</h6>
    <form>
        <div class="select d-flex flex-column align-items-center">
            <select class="browser-default custom-select" name="format2" id="format2">
                <option selected disabled>PILIH</option>
            </select>
            <div class="mt-2">
                <input class="btn btn-info btn-icon-split" type="button" onclick="getHospital()" value="Cari">
            </div>
        </div>
    </form>

    <div id='div' class="container d-flex flex-wrap">

    </div>

    <style>
        h3 {
            color:#5f5b5b;
            height: 70px;
            margin-top: 1%;
        }
        h6 {
            padding-bottom: 7px;
            color:#5f5b5b;
        }
        .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        .select {
            margin-bottom: 30px;
            margin-top: 5px;
        }
    </style>

</div>
<!-- /.container-fluid -->
{% endblock %}

{% block script %}
<script src="{% static 'js/rumahsakit.js' %}"></script>
{% endblock %}